!!!  
%html 
  %head
    %title The Markets Have Spoken
    %meta{'charset' => 'utf-8'}/
    %meta{'description' => 'Find out how the markets have reacted to current events.'}/
    %meta{'author' => '@macdermott'}
    %link{'href' => 'http://fonts.googleapis.com/css?family=Oswald', 'rel' => 'stylesheet', 'type' => 'text/css'}
    %link{'href' => './css/style.css', 'rel' => 'stylesheet'}
    %script{'type' => 'text/javascript', 'src' => './js/analytics.js'}

  %body
    #container
      #top{:class => "top-#{@update.reaction.downcase}"}
      #shadow
        #message
          #today Today the markets are
          #reaction #{@update.reaction}
          #news<
            because
            %a{ :href => "#{@update.url}" }
              #{@update.reason}
        #graph
          %img{ :src => "./images/#{@update.reaction.downcase}.png", :alt => "The markets are #{@update.reaction}" }
        %footer<
          Updated on #{@update.created_at}. Created by
          %a{ :href => "http://twitter.com/#!/macdermott"}
            @macdermott